<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" providerName="SQLServer"
       connectionString="Data Source=.;Initial Catalog=IncentivosTest;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    
    <!--Configuracion de FTP-->
    <add key="ftpHost" value="192.168.6.30" />
    <add key="ftpUsuario" value="edgar.cruzado" />
    <add key="ftpClave" value="Today02$" />
    <add key="ftpRuta" value="test" />
    
    <add key="rutaLog" value="D:\JACC\Logs\Rdgtdp\"/>
    <add key="CorreoServidor" value="smtp.gmail.com" />
    <add key="CorreoPuerto" value="587" />
    <add key="CorreoSSL" value="true" />
    <add key="CorreoDe" value="soporte@hte.com.pe" />
    <add key="CorreoUsuario" value="noreply.jacc@gmail.com" />
    <add key="CorreoClave" value="abcd$$1234" />
    <add key="CorreoCargaMasiva" value="jcabrerao@outlook.com;arturo.castaneda@hte.com.pe;enrique.espinal@hte.com.pe"/>
    <add key="rutaEntrada" value="D:\JACC\Entrada\Rdgtdp\"/>
    <add key="rutaErrores" value="D:\JACC\Errores\Rdgtdp\"/>
    <add key="rutaLogs" value="D:\JACC\Logs\Rdgtdp\"/>
    <add key="rutaSalida" value="D:\JACC\Salida\Rdgtdp\"/>
  </appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>