<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" providerName="SQLServer"
       connectionString="Data Source=.\sqlexpress;Initial Catalog=ipd;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    
    <!--Configuracion de FTP-->
    <add key="ftpHost" value="74.208.144.224" />
    <add key="ftpUsuario" value="wftpuser01" />
    <add key="ftpClave" value="peru2016" />
    <add key="ftpRuta" value="test" />
    
    <!--Ruta Archivos-->
    <add key="rutaLog" value="C:\Prueba\Logs\"/>
    <add key="rutaEntrada" value="C:\Prueba\Entrada\"/>
    <add key="rutaErrores" value="C:\Prueba\Errores\"/>
    <add key="rutaSalida" value="C:\Prueba\Salida\"/>

    <add key="CorreoServidor" value="smtp.gmail.com" />
    <add key="CorreoPuerto" value="587" />
    <add key="CorreoSSL" value="true" />
    <add key="CorreoDe" value="soporte@hte.com.pe" />
    <add key="CorreoUsuario" value="noreply.jacc@gmail.com" />
    <add key="CorreoClave" value="abcd$$1234" />
    <add key="CorreoCargaMasiva" value="edgarivan.cruzado@gmail.com"/>
    
  </appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>